---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // Skin
@import "minimal-mistakes"; // Theme

// Eigene Styles hier anhängen
.author__bio a {
  color: $link-color;
  //text-decoration: underline;
  transition: color 0.2s;
}
.author__bio a:hover,
.author__bio a:focus {
  color: $link-color-hover;
}
